<ul class="nav">
  <li><a href="">test</a></li>
  <li><a href="">test</a></li>
  <li><a href="">test</a></li>
  <li><a href="">test</a></li>
  <li><a href="">test</a></li>
  <li><a href="">test</a></li>
<% @games.each do |game| %>
  <li><%= link_to "#{game.name}", game_path(game) %></li>
  <% end %>
</ul>