<table id="games" class="display" data-source="<%= games_url(format: "json") %>">
  <thead>
  <tr>
    <th>Game Name</th>
    <th>Price</th>
    <th>release date</th>
    <th>Steam link</th>
  </tr>
  </thead>
  <tbody>
  </tbody>
</table>